# station_zdz  --- 的后端模块设计

In [10]:
%%time
import pymysql
import pymssql 
import numpy as np
import pandas as pd
import pickle
import redis
import datetime as dtt
class station_zdz:
    def __init__(self, start, end):
        self.start = start
        self.end = end
        self.rs = redis.Redis(host='127.0.0.1', port=6379)
        self.conn = pymysql.connect(host="127.0.0.1",port=3306,user="root",passwd="051219",db="ZJSZDZDB")
    def single_station(self,station):
        '''获取单站数据并解析'''
        # 数据库中读取单站数据并解析
        sql = """select tTime,ta.IIiii,station.StationName,station.Province,station.City,station.County,station.Town,station.lat,station.lon,Ri,T,V,fFy,dFy 
        from Tab_AM_M as ta inner join TAB_StationInfo as station on ta.IIiii=station.IIiii and station.Province ='浙江' 
        where (ta.IIiii='{station}' and tTime between '{start_time}' and '{end_time}')  order by tTime  """
        rsql = sql.format(start_time=self.start,end_time=self.end,station=station)
        df = pd.read_sql(rsql , con=self.conn)
        return df
    def upload2_redis_24h(self):
        '''根据date_type向redis中传输数据'''
        tables = ['TAB_Aws2019','TAB_Mws2019']
        data_list = []
        SHA_TZ = timezone(
            dtt.timedelta(hours=8),
            name='Asia/Shanghai',
        )
        utc_now = dtt.datetime.utcnow().replace(tzinfo=dtt.timezone.utc)
        today = utc_now.astimezone(SHA_TZ)
        end = today.strftime('%Y-%m-%d %H:%M:%S')
        offset = dtt.timedelta(days=-1)
        start = (today + offset).strftime('%Y-%m-%d %H:%M:%S') 
        # 数据层
        start = "2019" + start[4:]
        end = "2019" + end[4:]
        for table in tables:
            sql = """select tTime,ta.IIiii,station.StationName,station.Province,station.City,station.County,station.Town,station.lat,station.lon,RR,T,VV,fFy,dFy 
            from {table} as ta inner join TAB_StationInfo as station on ta.IIiii=station.IIiii and station.Province ='浙江' 
            where (tTime between '{start}' and '{end}') order by tTime """
            rsql = sql.format(start=start,end=end,table=table)
            df = pd.read_sql(rsql , con=self.conn) 
            data_list.append(df)
        station_all = pd.concat(data_list)
        data = {
            "start":start,
            "end":end,
            "data_class":"hours24",
            "data":station_all
        }
        self.rs.set("hours24", pickle.dumps(data))
    def upload2_redis_3h(self):
        '''根据date_type向redis中传输数据'''
        table = 'Tab_AM_M'
        SHA_TZ = timezone(
            dtt.timedelta(hours=8),
            name='Asia/Shanghai',
        )
        utc_now = dtt.datetime.utcnow().replace(tzinfo=dtt.timezone.utc)
        today = utc_now.astimezone(SHA_TZ)
        end = today.strftime('%Y-%m-%d %H:%M:%S')
        offset = dtt.timedelta(hours=-3)
        start = (today + offset).strftime('%Y-%m-%d %H:%M:%S') 
        # 数据层
        start = '2019-08-08 06:00:00'
        end = '2019-08-08 09:00:00' 
        sql = """select tTime,ta.IIiii,station.StationName,station.Province,station.City,station.County,station.Town,station.lat,station.lon,Ri,T,V,fFy,dFy 
        from {table} as ta inner join TAB_StationInfo as station on ta.IIiii=station.IIiii and station.Province ='浙江' 
        where (tTime between '{start}' and '{end}') order by tTime """
        rsql = sql.format(start=start,end=end,table=table)
        df = pd.read_sql(rsql , con=self.conn) 
        data = {
            "start":start,
            "end":end,
            "data_class":"hours03",
            "data":df
        }
        self.rs.set("hours03", pickle.dumps(data))
    def decode_dataframe(self,dataframe,decode_type):
        '''根据date_type向redis中获取数据'''
        date_type = "hours24"  
        table_data = []
        data = pickle.loads(self.rs.get(date_type))
        station_all = data['data']  
        grouped_IIiii = station_all.groupby('IIiii')
        for i in grouped_IIiii.size().index:
            single = grouped_IIiii.get_group(i)
            single['tTime'] = pd.to_datetime(single['tTime'])
            end_time = single['tTime'].iloc[-1]
            offset = dtt.timedelta(hours=-decode_type)
            start_time = (end_time + offset)
            start_str = (end_time + offset).strftime('%Y-%m-%d %H:%M:%S')
            end_str = end_time.strftime('%Y-%m-%d %H:%M:%S')
            single_data = single[single['tTime']>start_str]
            # 制定游戏规则
            RR = single_data[single_data['Ri'] > 0.0]['Ri'].sum()
            tmin = single_data['T'].min()
            tmax = single_data['T'].max()
            vv = single_data[(single_data['V'] >0) & (single_data['V'] < 30000)]['V'].min()
            wind = single_data[single_data['fFy'] > 0]['fFy'].max()
            index =  single_data[single_data['fFy'] == single_data['fFy'].max()].index.tolist()[0]
            deg = single_data['dFy'][index]
            single_dir = {
                "IIiii":str(single_data['IIiii'].iloc[0]),
                "county":str(single_data['county'].iloc[0]),
                "town":str(single_data['Town'].iloc[0]),
                "StationName":str(single_data['StationName'].iloc[0]),
                "fFy":str(wind),
                "dFy":str(deg),
                "RR":str(RR),
                "Tx":str(tmax),
                "Tn":str(tmin),
                "VV":str(vv),
                "lat":str(single_data['lat'].iloc[0]),
                "lon":str(single_data['lon'].iloc[0])
            }
            table_data.append(single_dir)
    def get_redis(self,date_type):
        '''根据date_type向redis中获取数据'''
        data = pickle.loads(self.rs.get(date_type))
        # 解析数据
        return data

start = '2019-08-08 06:00:00'
end = '2019-08-08 18:00:00'  
date_type = 'rr24'
station = '58653'
worker = station_zdz(start,end)
dataframe = None
decode_type = 1
# worker.decode_dataframe(dataframe,decode_type)
worker.single_station(station)
# worker.upload2_redis_3h()
# data = worker.get_redis(date_type)

CPU times: user 173 ms, sys: 20.4 ms, total: 194 ms
Wall time: 6.37 s

,tTime,IIiii,StationName,Province,City,County,Town,lat,lon,Ri,T,V,fFy,dFy
0,2019-08-08 06:00:00,58653,括苍山,浙江,台州,临海市,括苍镇,28.80972,120.9222,0.0,197,-9999,143,274
1,2019-08-08 06:05:00,58653,括苍山,浙江,台州,临海市,括苍镇,28.80972,120.9222,0.0,196,-9999,126,277
2,2019-08-08 06:10:00,58653,括苍山,浙江,台州,临海市,括苍镇,28.80972,120.9222,0.0,198,-9999,126,277
3,2019-08-08 06:15:00,58653,括苍山,浙江,台州,临海市,括苍镇,28.80972,120.9222,0.0,197,-9999,126,277
4,2019-08-08 06:20:00,58653,括苍山,浙江,台州,临海市,括苍镇,28.80972,120.9222,0.0,196,-9999,126,277
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,2019-08-08 17:40:00,58653,括苍山,浙江,台州,临海市,括苍镇,28.80972,120.9222,10.0,204,-9999,155,236
141,2019-08-08 17:45:00,58653,括苍山,浙江,台州,临海市,括苍镇,28.80972,120.9222,37.0,205,-9999,155,236
142,2019-08-08 17:50:00,58653,括苍山,浙江,台州,临海市,括苍镇,28.80972,120.9222,25.0,205,-9999,155,236
143,2019-08-08 17:55:00,58653,括苍山,浙江,台州,临海市,括苍镇,28.80972,120.9222,44.0,206,-9999,155,236
144,2019-08-08 18:00:00,58653,括苍山,浙江,台州,临海市,括苍镇,28.80972,120.9222,11.0,206,-9999,155,236

In [45]:
date_type = 'hours24'
data = worker.get_redis(date_type)

In [58]:
alldata = data['data']
#alldata[alldata['tTime']>'2019-08-08 07:00:00']
alldata

,tTime,IIiii,StationName,Province,City,County,Town,lat,lon,Ri,T,V,fFy,dFy
0,2019-08-08 06:00:00,58467,慈溪,浙江,宁波,慈溪市,白沙路街道,30.200000,121.300000,0.0,274,16272,16,85
1,2019-08-08 06:00:00,58473,嵊山,浙江,舟山,嵊泗县,嵊山镇,30.733333,122.816667,NaN,277,27766,91,109
2,2019-08-08 06:00:00,58546,浦江,浙江,金华,浦江县,浦阳街道,29.466667,119.883333,0.0,259,6430,29,343
3,2019-08-08 06:00:00,58570,普陀,浙江,舟山,普陀区,沈家门街道,29.950000,122.300000,0.0,274,11797,53,102
4,2019-08-08 06:00:00,58654,缙云,浙江,丽水,缙云县,五云街道,28.666667,120.083333,0.0,260,17996,4,31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116892,2019-08-08 09:00:00,K9559,勾山,浙江,舟山,普陀区,临城街道,29.983333,122.250000,0.0,304,-9999,78,69
116893,2019-08-08 09:00:00,K9566,衢山(备),浙江,舟山,岱山县,衢山镇,30.450000,122.283333,2.0,285,-9999,91,77
116894,2019-08-08 09:00:00,K9606,大衢渔港,浙江,舟山,岱山县,衢山镇,30.466667,122.283333,1.0,293,-9999,68,53
116895,2019-08-08 09:00:00,K9640,六横东,浙江,舟山,定海区,六横东,29.700000,122.200000,0.0,-9999,20000,-9999,-9999
116896,2019-08-08 09:00:00,K9708,金塘港,浙江,舟山,定海区,金塘镇,29.983333,121.833333,0.0,317,30000,56,65

In [52]:
data['data']['tTime'] = pd.to_datetime(data['data']['tTime'])
data['data'].set_index('tTime', inplace=False)

data['data']('2019-08-08 06:00:00','2019-08-08 07:00:00')

TypeError: Index must be DatetimeIndex

# 以下为测试代码

In [5]:
import datetime as dtt
from datetime import timezone
SHA_TZ = timezone(
    dtt.timedelta(hours=8),
    name='Asia/Shanghai',
)
utc_now = dtt.datetime.utcnow().replace(tzinfo=timezone.utc)
today = utc_now.astimezone(SHA_TZ)
today_str = today.strftime('%Y-%m-%d %H:%M:%S')
offset = dtt.timedelta(seconds=-300)
re_date = (today + offset).strftime('%Y-%m-%d %H:%M:%S') 
re_date

'2023-05-14 17:47:04'

In [5]:
import datetime as dtt
# from datetime import timedelta
# from datetime import timezone

utc_now = dtt.datetime.utcnow().replace(tzinfo=timezone.utc)

SHA_TZ = timezone(
    dtt.timedelta(hours=8),
    name='Asia/Shanghai',
)

# 北京时间
beijing_now = utc_now.astimezone(SHA_TZ)
print(beijing_now)
print(type(beijing_now))

# fmt = '%Y-%m-%d %H:%M:%S'
# now_fmt =beijing_now.strftime(fmt)
# print(now_fmt)
# print(type(now_fmt))

NameError: name 'timezone' is not defined

In [13]:
%%time
data = worker.get_redis(date_type)

CPU times: user 10 ms, sys: 0 ns, total: 10 ms
Wall time: 8.18 ms

In [14]:
data['data']

,station_no,station_province,station_city,station_county,station_town,station_village,station_country,station_name,lon,lat,p_total,t_max,t_min,w_max,w_dir,vis
0,58443,浙江,湖州,长兴县,龙山街道,None,长兴县,长兴,119.900000,31.016667,0.0,342.0,331.0,95.0,118.0,21012.0
1,58444,浙江,杭州,临平区,临平街道,None,临平区,临平,120.283333,30.416667,0.0,315.0,307.0,116.0,158.0,17951.0
2,58446,浙江,湖州,安吉县,昌硕街道,None,安吉县,安吉,119.700000,30.633333,0.0,343.0,322.0,88.0,127.0,26938.0
3,58448,浙江,杭州,临安区,锦南街道,None,临安区,临安,119.733333,30.300000,0.0,327.0,316.0,124.0,130.0,23765.0
4,58449,浙江,杭州,富阳区,富春街道,None,富阳区,富阳,119.950000,30.050000,0.0,328.0,320.0,93.0,357.0,26791.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3063,K9728,浙江,舟山,定海区,岑港街道,None,定海区,大五峙,121.883333,30.216667,0.0,NaN,NaN,130.0,94.0,19800.0
3064,K9729,浙江,舟山,普陀区,沈家门街道,None,普陀区,点灯山,122.233333,29.883333,0.0,NaN,NaN,123.0,73.0,5085.0
3065,K9735,浙江,舟山,普陀区,六横镇,None,普陀区,双塘,122.150000,29.720000,0.0,294.0,285.0,120.0,100.0,13564.0
3066,K9739,浙江,舟山,嵊泗,菜园镇,None,嵊泗,下三横山,122.650000,30.770000,0.0,281.0,277.0,137.0,79.0,NaN
3067,K9740,浙江,舟山,岱山,高亭镇,None,岱山,鱼山岛,121.980000,30.330000,0.0,289.0,288.0,109.0,57.0,20000.0

In [12]:
start2 = '2019-08-07 21:00:00'
end2 = '2019-08-08 21:00:00'  
date_type2 = 'rr24'
worker2 = station_zdz(start2,end2)
worker2.upload_redis(date_type2)

data2 = worker2.get_redis(date_type2)

In [20]:
start2 = '2019-08-07 01:00:00'
end2 = '2019-08-08 10:00:00'  
date_type2 = 'rr24'
worker3 = station_zdz(start2,end2)
data3= worker3.get_redis(date_type2)
data3['data']

                   tTime    Ri
0    2019-08-07 21:55:00   0.0
1    2019-08-07 22:35:00   0.0
2    2019-08-08 00:00:00   0.0
3    2019-08-07 21:15:00   0.0
4    2019-08-07 21:35:00   0.0
..                   ...   ...
285  2019-08-08 20:40:00   1.0
286  2019-08-08 20:45:00   0.0
287  2019-08-08 20:50:00   0.0
288  2019-08-08 20:55:00   1.0
289  2019-08-08 21:00:00  18.0

[290 rows x 2 columns]

# 增量同步redis的策略

In [26]:
%%time
import pymysql
import pymssql 
import numpy as np
import pandas as pd
import pickle
import redis
import datetime as dtt
class station_zdz:
    def __init__(self, start, end):
        self.start = start
        self.end = end
        self.rs = redis.Redis(host='127.0.0.1', port=6379)
        self.conn = pymysql.connect(host="127.0.0.1",port=3306,user="root",passwd="051219",db="ZJSZDZDB")
    def current_date(self):
        '''获取单站数据并解析'''
        SHA_TZ = timezone(
            dtt.timedelta(hours=8),
            name='Asia/Shanghai',
        )
        utc_now = dtt.datetime.utcnow().replace(tzinfo=dtt.timezone.utc)
        today = utc_now.astimezone(SHA_TZ)
        end = today.strftime('%Y-%m-%d %H:%M:%S')
        offset = dtt.timedelta(seconds=-300)
        start = (today + offset).strftime('%Y-%m-%d %H:%M:%S')
        daydelay = dtt.timedelta(days=-1)
        daystar = (today + daydelay).strftime('%Y-%m-%d %H:%M:%S')
        return start,end,daystar
    def single_station(self,station):
        '''获取单站数据并解析'''
        # 获取当前时间
        SHA_TZ = timezone(
            dtt.timedelta(hours=8),
            name='Asia/Shanghai',
        )
        utc_now = dtt.datetime.utcnow().replace(tzinfo=dtt.timezone.utc)
        today = utc_now.astimezone(SHA_TZ)
        end = today.strftime('%Y-%m-%d %H:%M:%S')
        offset = dtt.timedelta(days=-1)
        start = (today + offset).strftime('%Y-%m-%d %H:%M:%S')
        # 造假数据
        start = '2019-08-07 20:53:00'
        end = '2019-08-08 20:53:00' 
        yesday = start[0:10] + " 20:00:00"
        today = end[0:10] + " 20:00:00"
        hours = dtt.datetime.strptime(end,'%Y-%m-%d %H:%M:%S').hour
        # 数据库中读取单站数据并解析
        sql = """select tTime,ta.IIiii,station.StationName,station.Province,station.City,station.County,station.Town,station.lat,station.lon,Ri,T,V,fFy,dFy 
        from Tab_AM_M as ta inner join TAB_StationInfo as station on ta.IIiii=station.IIiii and station.Province ='浙江' 
        where (ta.IIiii='{station}' and tTime between '{start_time}' and '{end_time}')  order by tTime  """
        rsql = sql.format(start_time=start,end_time=end,station=station)
        data = pd.read_sql(rsql , con=self.conn)
        if hours>=20:
            # 实时数据
            now_data = data[data['tTime']>=today]
            now_data = now_data[now_data['tTime']<=end]
            # 历史数据
            his_data = data[data['tTime']>start]
            his_data = his_data[his_data['tTime']<=today]   
        else:
            # 实时数据
            now_data = data[data['tTime']>=yesday]
            now_data = now_data[now_data['tTime']<=end]
            # 历史数据
            his_data = data[data['tTime']>start]
            his_data = his_data[his_data['tTime']<=yesday]
        # 开始筛选数据种类
        nul_now = [0 for i in range(len(now_data['T'].to_list()))]    
        nul_his =  [0 for i in range(len(his_data['T'].to_list()))]
        value_now =  now_data['T'].to_list()  + nul_his
        value_his = nul_now + his_data['T'].to_list() 
        # 解析数据成两个序列
        return data
    def upload2_redis_Hours(self):
        '''根据date_type向redis中传输数据每五分钟传一个数据，并输出对应的键值对'''
        tables = ['TAB_Aws2019','TAB_Mws2019']
        data_list = []
        start,end,daystar = self.current_date()
        # 修改数据层
        start = "2019" + start[4:]
        end = "2019" + end[4:]
        for table in tables:
            sql = """select tTime,ta.IIiii,station.StationName,station.Province,station.City,station.County,station.Town,station.lat,station.lon,RR,T,VV,fFy,dFy 
            from {table} as ta inner join TAB_StationInfo as station on ta.IIiii=station.IIiii and station.Province ='浙江' 
            where (tTime between '{start}' and '{end}') order by tTime """
            rsql = sql.format(start=start,end=end,table=table)
            df = pd.read_sql(rsql , con=self.conn) 
            data_list.append(df)
        station_all = pd.concat(data_list)
        # 合并pandas 
        data_class = "table_hours"
        redis_data = self.get_redis(data_class)
        if not redis_data:
            # 当redis无数据时
            data = {
                "data_class":"table_hours",
                "data":station_all
            }
        else:
            # 当redis有数据时,存储数据并保留最近24小时的
            redis_df = redis_data['data']
            redis_df['tTime'] = pd.to_datetime(redis_df['tTime'])
            remain_df = redis_df[redis_df['tTime']>=daystar]
            output = pd.concat([remain_df,station_all])
            output['tTime'] = pd.to_datetime(output['tTime'])
            output.drop_duplicates(keep='first',inplace=True)
            data = {
               "data_class":"table_hours",
                "data":output
            }
        # 将保留的数据重新存储到redis中
        self.rs.set("table_hours", pickle.dumps(data))
    def upload2_redis_Minutes(self):
        '''根据date_type向redis中传输数据'''
        table = 'Tab_AM_M'
        start,end,daystar = self.current_date()
        # 数据层
        start = '2019-08-08 08:56:00'
        end = '2019-08-08 09:01:00' 
        daystar = '2019-08-07 09:01:00'
        sql = """select tTime,ta.IIiii,station.StationName,station.Province,station.City,station.County,station.Town,station.lat,station.lon,Ri,T,V,fFy,dFy 
        from {table} as ta inner join TAB_StationInfo as station on ta.IIiii=station.IIiii and station.Province ='浙江' 
        where (tTime between '{start}' and '{end}') order by tTime """
        rsql = sql.format(start=start,end=end,table=table)
        station_all = pd.read_sql(rsql , con=self.conn) 
        # 合并pandas 
        data_class = "table_minutes"
        redis_data = self.get_redis(data_class)
        if not redis_data:
            # 当redis无数据时
            data = {
                "data_class":"table_minutes",
                "data":station_all
            }
        else:
            # 当redis有数据时,存储数据并保留最近24小时的
            redis_df = redis_data['data']
            redis_df['tTime'] = pd.to_datetime(redis_df['tTime'])
            remain_df = redis_df[redis_df['tTime']>=daystar]
            output = pd.concat([remain_df,station_all])
            output['tTime'] = pd.to_datetime(output['tTime'])
            output.drop_duplicates(keep='first',inplace=True)
            data = {
                "data_class":"table_minutes",
                "data":output
            }
        # 将保留的数据重新存储到redis中
        self.rs.set("table_minutes", pickle.dumps(data))        
    def decode_dataframe(self,dataframe,decode_type):
        '''根据date_type向redis中获取数据'''
        date_type = "hours24"  
        table_data = []
        data = pickle.loads(self.rs.get(date_type))
        station_all = data['data']  
        grouped_IIiii = station_all.groupby('IIiii')
        for i in grouped_IIiii.size().index:
            single = grouped_IIiii.get_group(i)
            single['tTime'] = pd.to_datetime(single['tTime'])
            end_time = single['tTime'].iloc[-1]
            offset = dtt.timedelta(hours=-decode_type)
            start_time = (end_time + offset)
            start_str = (end_time + offset).strftime('%Y-%m-%d %H:%M:%S')
            end_str = end_time.strftime('%Y-%m-%d %H:%M:%S')
            single_data = single[single['tTime']>start_str]
            # 制定游戏规则
            RR = single_data[single_data['Ri'] > 0.0]['Ri'].sum()
            tmin = single_data['T'].min()
            tmax = single_data['T'].max()
            vv = single_data[(single_data['V'] >0) & (single_data['V'] < 30000)]['V'].min()
            wind = single_data[single_data['fFy'] > 0]['fFy'].max()
            index =  single_data[single_data['fFy'] == single_data['fFy'].max()].index.tolist()[0]
            deg = single_data['dFy'][index]
            single_dir = {
                "IIiii":str(single_data['IIiii'].iloc[0]),
                "county":str(single_data['county'].iloc[0]),
                "town":str(single_data['Town'].iloc[0]),
                "StationName":str(single_data['StationName'].iloc[0]),
                "fFy":str(wind),
                "dFy":str(deg),
                "RR":str(RR),
                "Tx":str(tmax),
                "Tn":str(tmin),
                "VV":str(vv),
                "lat":str(single_data['lat'].iloc[0]),
                "lon":str(single_data['lon'].iloc[0])
            }
            table_data.append(single_dir)
    def get_redis(self,date_type):
        '''根据date_type向redis中获取数据'''
        value = self.rs.get(date_type)
        if value:
            data = pickle.loads(value)
        else:
            data = None       
        #data = pickle.loads(self.rs.get(date_type))
        # 解析数据
        return data

start = '2019-08-08 06:00:00'
end = '2019-08-08 18:00:00'  
date_type = 'table_minutes'
station = '58653'
worker = station_zdz(start,end)
dataframe = None
decode_type = 1
# worker.decode_dataframe(dataframe,decode_type)
data = worker.single_station(station)
# worker.upload2_redis_Minutes()
# data = worker.get_redis(date_type)
# data['data']

CPU times: user 14.3 ms, sys: 8.66 ms, total: 23 ms
Wall time: 3.94 s

In [44]:
%%time
start = '2019-08-07 20:53:00' 
end = '2019-08-08 20:53:00' # now
yesday = start[0:10] + " 20:00:00"
today = end[0:10] + " 20:00:00"
hours = dtt.datetime.strptime(end,'%Y-%m-%d %H:%M:%S').hour
if hours>=20:
    # 实时数据
    now_data = data[data['tTime']>='2019-08-08 20:00:00']
    now_data = now_data[now_data['tTime']<='2019-08-08 20:83:00']
    # 历史数据
    his_data = data[data['tTime']>'2019-08-07 20:53:00']
    his_data = his_data[his_data['tTime']<='2019-08-08 20:00:00']   
else:
    # 实时数据
    now_data = data[data['tTime']>='2019-08-08 20:00:00']
    now_data = now_data[now_data['tTime']<='2019-08-08 20:83:00']
    # 历史数据
    his_data = data[data['tTime']>'2019-08-07 20:53:00']
    his_data = his_data[his_data['tTime']>'2019-08-07 20:00:00']

CPU times: user 10.4 ms, sys: 0 ns, total: 10.4 ms
Wall time: 6.9 ms

In [55]:
%%time
start = '2019-08-07 20:53:00' 
end = '2019-08-08 20:53:00' # now
yesday = start[0:10] + " 20:00:00"
today = end[0:10] + " 20:00:00"
hours = dtt.datetime.strptime(end,'%Y-%m-%d %H:%M:%S').hour
if hours>=20:
    # 实时数据
    now_data = data[data['tTime']>=today]
    now_data = now_data[now_data['tTime']<=end]
    # 历史数据
    his_data = data[data['tTime']>start]
    his_data = his_data[his_data['tTime']<=today]   
else:
    # 实时数据
    now_data = data[data['tTime']>=yesday]
    now_data = now_data[now_data['tTime']<=end]
    # 历史数据
    his_data = data[data['tTime']>start]
    his_data = his_data[his_data['tTime']<=yesday]

nul_now = [0 for i in range(len(now_data['T'].to_list()))]    
nul_his =  [0 for i in range(len(his_data['T'].to_list()))]
value_now =  now_data['T'].to_list()  + nul_his
value_his = nul_now + his_data['T'].to_list()

CPU times: user 5.63 ms, sys: 1.49 ms, total: 7.11 ms
Wall time: 4.47 ms

In [56]:
len(value_now)

291