In [ ]:
db = pymysql.connect(user='root', password='mysql', database='test', host='127.0.0.1', port=3306, charset='utf8mb4')
 
name_list = ["re", "gh", "ds", "D"]  # 存储name的值
age_list = ["10", "20", "30", "40"]  # 存储age的值
id_list = ["1", "2", "3", "4"]  # 存储id的值
val_list = [[name_list[i], age_list[i], id_list[i]] for i in range(len(id_list))]
print(val_list)
# [['re', '10', '1'], ['gh', '20', '2'], ['ds', '30', '3'], ['D', '40', '4']]
 
with db.cursor() as cursor:
    try:
        sql = "UPDATE test SET name=(%s), age=(%s) WHERE id=(%s)"
        cursor.executemany(sql, val_list)
        db.commit()
    except:
        db.rollback()
db.close()

In [ ]:
#coding:utf8
conn = MySQLdb.connect(host = “localhost”, user = “root”, passwd = “123456”, db = “myDB”)
cursor = conn.cursor()
sql = “insert into myTable (created_day,name,count) values(%s,%s,%s) ON DUPLICATE KEY UPDATE count=count+values(count)”
args=[("2012-08-27","name1",100),("2012-08-27","name1",200),("2012-08-27","name2",300)]
try:
  cursor.executemany(sql, args)
except Exception as e:
  print0(“执行MySQL: %s 时出错：%s” % (sql, e))
finally:
　　cursor.close()
　　conn.commit()
　　conn.close()

# 批量插入数据

In [5]:
%%time
import pymysql
import pymssql 
import numpy as np
import pandas as pd
import pickle
import redis
import datetime as dtt

conn = pymysql.connect(host="127.0.0.1",port=3306,user="root",passwd="051219",db="tzweb")
cursor = conn.cursor()
sql = "insert into station_data (station_no,station_province,station_city,station_county,station_town,station_village,station_country,station_name,lat,lon,p_total,t_max,t_min,w_max,w_dir,vis,datetime) values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"

args=[
    ("text","text","text","text","text","text","text","text",15,17,25,25,25,25,25,25,'2023-07-01 20:06:31'),
    ("text","text","text","text","text","text","text","text",15,17,25,25,25,25,25,25,'2023-07-01 19:06:31')    
]
cursor.executemany(sql, args)
cursor.close()
conn.commit()
conn.close()

CPU times: user 0 ns, sys: 4.33 ms, total: 4.33 ms
Wall time: 17.7 ms

In [19]:
import pandas as pd
start = '2015-08-01' #YYY-MM-DD
end = '2020-07-06'
time_list = pd.date_range(start, end, freq='H')
times = []
for i in range(len(time_list)):
    single = ["text","text","text","text","text","text","text","text",15,17,25,25,25,25,25,25]
    single.append(time_list[i].strftime('%Y-%m-%d %H:%M:%S'))
    times.append(single)

# 同步数据

In [24]:
%%time
import pymysql
import pymssql 
import numpy as np
import pandas as pd
import pickle
import redis
import datetime as dtt

conn = pymysql.connect(host="127.0.0.1",port=3306,user="root",passwd="051219",db="tzweb")
cursor = conn.cursor()
sql = "insert into station_data (station_no,station_province,station_city,station_county,station_town,station_village,station_country,station_name,lat,lon,p_total,t_max,t_min,w_max,w_dir,vis,datetime) values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"
start = '2010-08-01' #YYY-MM-DD
end = '2020-07-06'
time_list = pd.date_range(start, end, freq='H')
times = []
for i in range(len(time_list)):
    single = ["text","text","text","text","text","text","text","text",15,17,25,25,25,25,25,25]
    single.append(time_list[i].strftime('%Y-%m-%d %H:%M:%S'))
    times.append(single)
cursor.executemany(sql, times)
cursor.close()
conn.commit()
conn.close()

CPU times: user 4.37 s, sys: 33.6 ms, total: 4.4 s
Wall time: 5.82 s

# 同步到数据库

In [ ]:
CREATE TABLE `table_station_min` (
  `Datetime` datetime(6) NOT NULL,
  `Station_Id_C` varchar(20) COLLATE utf8mb4_general_ci NOT NULL,
  `Cnty` varchar(20) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `Province` varchar(20) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `Town` varchar(20) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `Station_levl` int DEFAULT NULL,
  `Station_Name` varchar(30) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `City` varchar(20) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `Lat` decimal(8,4) DEFAULT NULL,
  `Lon` decimal(8,4) DEFAULT NULL,
  `Alti` decimal(10,2) DEFAULT NULL,
  `PRS` decimal(10,2) DEFAULT NULL,
  `PRS_Sea` decimal(10,2) DEFAULT NULL,
  `WIN_S_Gust_Max` decimal(10,2) DEFAULT NULL,
  `WIN_D_Gust_Max` decimal(10,2) DEFAULT NULL,
  `WIN_D_Avg_2mi` decimal(10,2) DEFAULT NULL,
  `WIN_S_Avg_2mi` decimal(10,2) DEFAULT NULL,
  `TEM` decimal(10,2) DEFAULT NULL,
  `DPT` decimal(10,2) DEFAULT NULL,
  `RHU` decimal(10,2) DEFAULT NULL,
  `VAP` decimal(10,2) DEFAULT NULL,
  `PRE` decimal(10,2) DEFAULT NULL,
  `Snow_Depth` decimal(10,2) DEFAULT NULL,
  `VIS_HOR_1MI` decimal(10,2) DEFAULT NULL,
  `CLO_Cov` decimal(10,2) DEFAULT NULL,
  `CLO_Height_LoM` decimal(10,2) DEFAULT NULL,
  PRIMARY KEY (`Datetime`,`Station_Id_C`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;

# 同步本地数据库

In [35]:
%%time
import pymysql
import pymssql 
import numpy as np
import pandas as pd
import pickle
import redis
import datetime as dtt
import json

class data2sql():
    def __init__(self):
        self.rs = redis.Redis(host='127.0.0.1', port=6379)
        self.conn = pymysql.connect(host="127.0.0.1",port=3306,user="root",passwd="051219",db="ZJSZDZDB")
    def read_data(self):
        data = pd.read_csv("downfile/min.csv")
        return data
    def get_new_time(self):
        cursor = self.conn.cursor()
        sql = """select max(Datetime) from table_station_min limit 1 """
        cursor.execute(sql)
        results = cursor.fetchall()
        cursor.close()
        self.conn.commit()
        self.conn.close()
        if results[0][0]:
            times = results[0][0]
            times = times.strftime('%Y-%m-%d %H:%M')+":00"
        else:
            now = dtt.datetime.now()   
            offset = dtt.timedelta(minutes=-3)
            del_day = (now + offset).strftime('%Y-%m-%d %H:%M')+":00"
            times = del_day
        return times
    def read_cloud(self):
        pass
    def to_mysql(self):
        data = self.read_data()
        data = data.drop(labels='Unnamed: 0', axis=1)
        datalist = data.to_json(orient='values') # 生成数据列表
        sql_list = json.loads(datalist) 
        cursor = self.conn.cursor()
        sql = """insert into table_station_min 
        (Cnty,Province,Town,Station_levl,Station_Name,City,Station_Id_C,Lat,Lon,Alti,Datetime,PRS,PRS_Sea,WIN_S_Gust_Max,WIN_D_Gust_Max,WIN_D_Avg_2mi,WIN_S_Avg_2mi,TEM,DPT,RHU,VAP,PRE,Snow_Depth,VIS_HOR_1MI,CLO_Cov,CLO_Height_LoM) 
        values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"""
        cursor.executemany(sql,sql_list)
        cursor.close()
        self.conn.commit()
        self.conn.close()
    def del_mysql(self):
        now = dtt.datetime.now()   
        offset = dtt.timedelta(days=-3)
        del_day = (now + offset).strftime('%Y-%m-%d %H:%M')+":00"
        cursor = self.conn.cursor()
        sql = """DELETE FROM table_station_min where Datetime <= '{del_day}'"""
        rsql = sql.format(del_day=del_day)
        cursor.execute(rsql)
        cursor.close()
        self.conn.commit()
        self.conn.close()
        print("done",del_day)
        

worker = data2sql()
#worker.to_mysql()#
worker.get_new_time()

CPU times: user 2.3 ms, sys: 191 µs, total: 2.49 ms
Wall time: 1.78 ms

'2023-07-01 00:03:00'