In [ ]:
db = pymysql.connect(user='root', password='mysql', database='test', host='127.0.0.1', port=3306, charset='utf8mb4')
 
name_list = ["re", "gh", "ds", "D"]  # 存储name的值
age_list = ["10", "20", "30", "40"]  # 存储age的值
id_list = ["1", "2", "3", "4"]  # 存储id的值
val_list = [[name_list[i], age_list[i], id_list[i]] for i in range(len(id_list))]
print(val_list)
# [['re', '10', '1'], ['gh', '20', '2'], ['ds', '30', '3'], ['D', '40', '4']]
 
with db.cursor() as cursor:
    try:
        sql = "UPDATE test SET name=(%s), age=(%s) WHERE id=(%s)"
        cursor.executemany(sql, val_list)
        db.commit()
    except:
        db.rollback()
db.close()

In [ ]:
#coding:utf8
conn = MySQLdb.connect(host = “localhost”, user = “root”, passwd = “123456”, db = “myDB”)
cursor = conn.cursor()
sql = “insert into myTable (created_day,name,count) values(%s,%s,%s) ON DUPLICATE KEY UPDATE count=count+values(count)”
args=[("2012-08-27","name1",100),("2012-08-27","name1",200),("2012-08-27","name2",300)]
try:
  cursor.executemany(sql, args)
except Exception as e:
  print0(“执行MySQL: %s 时出错：%s” % (sql, e))
finally:
　　cursor.close()
　　conn.commit()
　　conn.close()

# 批量插入数据

In [5]:
%%time
import pymysql
import pymssql 
import numpy as np
import pandas as pd
import pickle
import redis
import datetime as dtt

conn = pymysql.connect(host="127.0.0.1",port=3306,user="root",passwd="051219",db="tzweb")
cursor = conn.cursor()
sql = "insert into station_data (station_no,station_province,station_city,station_county,station_town,station_village,station_country,station_name,lat,lon,p_total,t_max,t_min,w_max,w_dir,vis,datetime) values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"

args=[
    ("text","text","text","text","text","text","text","text",15,17,25,25,25,25,25,25,'2023-07-01 20:06:31'),
    ("text","text","text","text","text","text","text","text",15,17,25,25,25,25,25,25,'2023-07-01 19:06:31')    
]
cursor.executemany(sql, args)
cursor.close()
conn.commit()
conn.close()

CPU times: user 0 ns, sys: 4.33 ms, total: 4.33 ms
Wall time: 17.7 ms

In [19]:
import pandas as pd
start = '2015-08-01' #YYY-MM-DD
end = '2020-07-06'
time_list = pd.date_range(start, end, freq='H')
times = []
for i in range(len(time_list)):
    single = ["text","text","text","text","text","text","text","text",15,17,25,25,25,25,25,25]
    single.append(time_list[i].strftime('%Y-%m-%d %H:%M:%S'))
    times.append(single)

# 同步数据

In [24]:
%%time
import pymysql
import pymssql 
import numpy as np
import pandas as pd
import pickle
import redis
import datetime as dtt

conn = pymysql.connect(host="127.0.0.1",port=3306,user="root",passwd="051219",db="tzweb")
cursor = conn.cursor()
sql = "insert into station_data (station_no,station_province,station_city,station_county,station_town,station_village,station_country,station_name,lat,lon,p_total,t_max,t_min,w_max,w_dir,vis,datetime) values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"
start = '2010-08-01' #YYY-MM-DD
end = '2020-07-06'
time_list = pd.date_range(start, end, freq='H')
times = []
for i in range(len(time_list)):
    single = ["text","text","text","text","text","text","text","text",15,17,25,25,25,25,25,25]
    single.append(time_list[i].strftime('%Y-%m-%d %H:%M:%S'))
    times.append(single)
cursor.executemany(sql, times)
cursor.close()
conn.commit()
conn.close()

CPU times: user 4.37 s, sys: 33.6 ms, total: 4.4 s
Wall time: 5.82 s