In [1]:
import pymssql 
import pandas as pd
server = "172.21.158.201"    # 连接服务器地址
user = "down"# 连接帐号
password = "downx"# 连接密码
conn = pymssql.connect(server, user, password, "ZJSZDZDB")  #获取连接

cursor = conn.cursor() # 获取光标

cursor.execute('USE ZJSZDZDB' )

sql  = "select RR from TAB_Aws2019 where (IIiii='58667' and tTime between '2019-08-09 22:00' and '2019-08-10 08:00') order by tTime"
cursor.execute(sql) 
#select IIiii ,MAX(fFy*1000+dFy) AS Expr1 FROM Tab_Aws WHERE (IIiii IN('58665','58559','58568','58652')) AND (tTime BETWEEN '2020-7-14 2:00:01' AND '2020-7-14 05:00:00') GROUP BY IIiii
#sql2 = "GO"
#cursor.execute(sql2)
row = cursor.fetchall()
print(pd.DataFrame(list(row)).shape)
print(row)
cursor.close()  # 关闭游标
conn.close()  # 关闭连接

/opt/conda/lib/python3.7/site-packages/pandas/compat/_optional.py:138: UserWarning: Pandas requires version '2.7.0' or newer of 'numexpr' (version '2.6.9' currently installed).
  warnings.warn(msg, UserWarning)

(11, 1)
[(56,), (86,), (209,), (195,), (291,), (172,), (253,), (186,), (144,), (62,), (10,)]

In [6]:
%%time
import concurrent.futures
import pandas as pd
import pymssql 
def function(sql):
    server = "172.21.158.201"    # 连接服务器地址
    user = "down"# 连接帐号
    password = "downx"# 连接密码
    conn = pymssql.connect(server, user, password, "ZJSZDZDB") 
    df_location = pd.read_sql(sql, con=conn)
#     print(df_location)
    return df_location

sql = "select  IIiii,StationName,lat,lon from TAB_StationInfo where (lon>120.1 and lon<122 and lat>27.8 and lat<29.5 )" 
data = function(sql)

CPU times: user 12.9 ms, sys: 1.36 ms, total: 14.2 ms
Wall time: 80.7 ms

In [8]:
data.to_csv("自动站位置.csv")